h1{
    color: white;
    background-color: green;
}

h2{
    color: red;
    background-color: lightblue;
}

table,
th,
td {
    border-collapse:collapse;
    border: 3px solid black;
}

td {
background-color: rgb(0, 170, 255);
}
th {
    background-color: purple ;
}

video{
    width: 350px;
}
img{
    width: 140px;
}